/*
    CryoCommunity Style Sheet

*/

@import url('https://fonts.googleapis.com/css?family=Hind:400|Tajawal:400');

/* DEFINING OUR COLOR THEME AND COLOR VARIATIONS */

//  PRIMARY
$glacier50:  #e2f2fd;
$glacier100: #b9ddfc;
$glacier200: #8fcdfa;
$glacier300: #61b9f7;
$glacier400: #3aaaf7;
$glacier500: #009cf6;
$glacier600: #008ee8;
$glacier700: #007bd5;
$glacier800: #006ac4;
$glacier900: #004da5;

//Secondary
// glacier-complement{
$orange50:  #fff5e1;
$orange100: #ffe4b4;
$orange200: #ffd383;
$orange300: #ffc051;
$orange400: #ffb129;
$orange500: #ffa303;
$orange600: #ff9703;
$orange700: #ff8602;
$orange800: #fe7601;
$orange900: #f65a00;

// just to see colors 
$primary: #008ee8;
$secondary: #b9ddfc;
$accent: #ff9703;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

html {
    font-size: 100%;
}

/*16px*/

body {
    background: white;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

.v-card__text,
.v-card__title {
    word-break: normal;
    /* maybe !important  */
}


p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}






// Variables
// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;



// body {
//     font: 100% $font-stack;
//     color: $primary-color;
//     background-color:#FFFFFF;
// }




// .button {
//     display:inline-block;
//     font-size:14px;
//     padding:4px 10px;
// }

